* {
    box-sizing:border-box;
    
}
.linksorange{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10rem;
    align-items: center;
    color: #FCFCFC;
    
  
}
.downloadlinks{
    padding: 5rem;
    display: flex;
    justify-content: center;
    margin:auto;
    
    
}
.downloadlinktext{
    color:white;
    text-decoration: underline;
}

.downloadlinktextwhite{
    color:black;
    text-decoration: underline;
}

.projecttext
{
    text-decoration: none;
    color: #373F51;
}

a{
    text-decoration: none;
    font-size: 1.8rem;
    font-family: "roboto",sans-serif;

}

.button1 {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17rem;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    color: #FCFCFC;
    background-color: #38ABA3;
    border: none;
    margin-top: 4rem;
    margin-bottom:2rem;
}

b{
    font-weight: bolder;
}
html {
    font-size: 10px;
    position: relative;
    overflow-x: hidden;
    text-decoration: none;
    display:inline-block;

}
.chartfull{
    display:flex;
    align-items: flex-end;
}

.personasfull{
   margin-left: 5%;
   margin-right: auto;
}

canvas{
    margin-top: 3rem;
      
    
}


.imgus{
    margin: auto;
    width: 100%;
    padding: 20px;

}

.imguf{
    display:flex;
    margin: auto;
    width: 50%;
    padding: 20px;
}
.middletext{
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30%;
    padding: 20px;
    padding-bottom: 5%;
    color: #FCFCFC;
    font-family: "roboto",sans-serif;
}

.middletextwhitesection{
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30%;
    padding: 20px;
    padding-bottom: 5%;
    color: black;
    font-family: "roboto",sans-serif;
    line-height: 2.4rem;
}

.personas{
    font-size: 2rem;
    width: 49.5%;
    align-content: center;
    justify-content: center;
    float: left;
    margin-left: auto;
    padding:10px;
    color: #FCFCFC;
    font-family: "roboto",sans-serif;


}
.ptitle{
    font-weight: bold;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}

.personas:after {
    content: "";
    display: table;
    clear: both;
  }

.bulletsca{
    margin-bottom: 2em;
}

.threeimg{
    margin-left:3.1rem;
}

.bulletsca li{
    margin:2rem;
}
.threepage{
    font-size: 2rem;
    float: left;
    width: 33.3%;
    padding:6%;
    padding-left: 6%;
    padding-right: 6%;
    position: relative;
    align-items:center;
    justify-content: space-around;
    font-family: "roboto",sans-serif;
}
.threepage:after {
    content: "";
    display: table;
    clear: both;
  }

canvas{
    margin-bottom:3rem;
}
.charttitle{
    font-size: 2.2rem;
    font-family: "roboto",sans-serif;
    color: #FCFCFC;
    margin-top: 10rem;
    margin-bottom: 10em;
    justify-content: center;
    display:flex;
    flex-direction: column;
    float: left;
    width: 33.3%;
    margin:0rem;
    padding:12px;
    align-items: center;

}

.topsection{
    height: 30vh;
    width: 100%;
}



.whitesection{
    height:155rem;
    background:#fcfcfc;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.orangesection{
    height:243rem;
    background:#F7996A;
    justify-content: center;
    flex-direction: column;
}
.whitesection2{
    height:128rem;
    background:#fcfcfc;
}
.orangesection2{
    height:103rem;
    background:#F7996A; 
}
.orangesection3{
    height:178rem;
    background:#F7996A;
}
.whitesection3 {
    height: 220rem;
    background: #Fcfcfc;
}
.whitesection4{
    height: 195rem;
    background: #Fcfcfc;
}
.whitesection5{
    height: 175rem;
    background: #Fcfcfc;
}
.orangesection4{
        height:155rem;
        background:#F7996A;      
}
.orangesection5{
    height:255rem;
    background:#F7996A;
}
.whitesection6{
    height:228rem;
}
.whitesection7{
    height:124rem;
}

.imgspref{
    display:flex;
    align-content: center;
    width:53.3%;
    float:none;
    margin:auto;
    padding-bottom: 5%;

}

.imgs{

    width:23.3%;
    float:none;
    margin-left:18%;
    padding-bottom: 5%;

}

.textwrappercenter{
    margin-left:20%;
    margin-right:20%;
    color: #FCFCFC;
    font-size: 2rem;
    font-family:"roboto";
    padding-bottom:5rem;
}

.bullets{
    margin-bottom: 9rem;
    font-size: 2rem;
    font-family:"roboto";
    margin-left:30%;
    margin-right:30%;
}

.bullets li {
    margin-bottom:2rem;
}

.titletopmain{
    font-size: 5.5em;
    padding-bottom:10rem;
    padding-top: 10rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.3em;
}
    
.titletop{
    line-height: 5rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titletoporange{
    margin-bottom:10rem;
    padding-top:12rem;
    color: #FCFCFC;
    font-family:"lora", serif;
    justify-content: center;
}
.orangetext {
    color: #FCFCFC;
}

h3{
    font-size: 4.8rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.imgp{
    width: 90%;
}


.buttonprojects:hover {
    background: #555B6B;
    box-shadow: 0px 0px 0px rgba(0,0,0,.1);
}

.project1header{
    background-image: url("project1top.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.buttonprojects {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-left: auto;
    margin-right:auto;
    height: 5rem;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    color: #FCFCFC;
    background-color: #373F51;
    text-decoration: none;
    border: none;
    box-shadow: 12px 15px 20px rgba(0,0,0,.1);
}
.button:hover{
    background: #555B6B;
}
.button {
    margin-top: 4rem;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    margin-left: auto;
    margin-right:auto;
    height: 5rem;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    color: #FCFCFC;
    background-color: #373F51;
    border: none;
}
body{

    overflow-x: hidden;
}
.header {
    height: 60rem;
    background:#FCFCFC;
    position: relative;

}
.projectsfull2{
    height:35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.descriptionabout {
    margin-left:12%;
      margin-bottom:10%;
      margin-top: 2%;
      font-family: 'roboto',sans-serif;
      font-size:1.6rem;
      width:65%;
      
  
  }
  .header2 {
    height: 90rem;
    background:#FCFCFC;
    position: relative;

}

  .aboutpic{
    width:10%;
    padding-top: 20rem;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;

}

.about {
    color: #874000;
    font-family: 'lora',serif;
    font-size:5.5rem;
    margin-top:30rem;
    justify-content: center;
    text-align: center;
    margin: 0rem;
}

.nav-links a{
	color: #373F51;
	text-decoration: none;
    font-size: 3.5rem;
    letter-spacing: .5rem; 
    font-weight: 900;
    align-items: center;
    justify-content: space-around;
    display:flex;
}

.nav-links{
    display:flex;
    justify-content: space-around;
    list-style: none;
    align-items:center ;
    margin-bottom: 5rem;
    margin-top: 5rem;
    
}

nav{
    top:0;
    align-items: center;
    justify-content: space-around;
    background-color: #FCFCFC;
    width:100%;
    position: fixed;
    font-family: "roboto mono",sans-serif;
    z-index: 95;
    transition: top 0.3s;
    
}

.burger{
    display:none;
    cursor: pointer;
    padding-top: 0px;
    position: fixed;
    margin: 3rem;
    left: 0;
    top: 0;
}

.burger div{
    height: 3px;
	width: 25px;
	background-color:#373F51;
    border-radius: .5rem;
    margin:5px;
    transition: all 0.3s ease-in-out;
    top:0;
   
}

.bluephone{
    position: absolute;
    width: 55.8rem;
    left: -40rem;
    top: 14.6rem;
    z-index: 94;
    
}


.bluephone2{
    position: absolute;
    width: 50rem;
    left: -42rem;
    top: 14.9rem;
    z-index:94 ;
    
}

.bluephone3{
    position: absolute;
    width: 55.8rem;
    left: -40rem;
    top: 14.6rem;
    z-index: 94;
    
}


.bluephone4{
    position: absolute;
    width: 50rem;
    left: -42rem;
    top: 14.9rem;
    z-index:94 ;
    
}

.circletime {

    position:absolute;
    width: 10rem;
    right: 2.3rem;
    top: 54rem;
   z-index: 96;
    
}

.circletimeouter {

    position:absolute;
    width: 18rem;
    right: -1.7rem;
    top: 50rem;
    z-index: 96;
   
    
}

.circletimeouter2 {

    position:absolute;
    width: 18rem;
    right: -1.7rem;
    top: 58rem;
    z-index: 96;
   
    
}

.circletimeouter3 {

    position:absolute;
    width: 18rem;
    right: -1.7rem;
    top: 42rem;
    z-index: 96;
    
}
.worksect {

    background:#FCFCFC;
    box-shadow:  21px 21px 42px #d6d6d6, 
             -21px -21px 42px #ffffff;
    border-radius: 1.5%;
    margin: 5rem;
    width: 1200px;
    display:flex;
    align-items: center;
    cursor: pointer;


}

.worksect2 {

    background:#FCFCFC;
    box-shadow:  21px 21px 42px #d6d6d6, 
             -21px -21px 42px #ffffff;
    border-radius: 1.5%;
    margin: 5rem;
    width: 50%;
    display:flex;
    align-items: center;
    cursor: pointer;
    display:none;


}

.topright {
    display:flex;
    position:absolute;
    width: 15.3rem;
    right: -7.3rem;
    top: -16rem;
    z-index: 99;
    
    
}

.topright2 {
    display:flex;
    position:absolute;
    width: 15.3rem;
    right: -2.3rem;
    top: -16rem;
    z-index: 98;
    
    
}

.h1 {
    color: #874000;
    font-family: 'lora',serif;
    font-size:5.5rem;
    padding-top:30rem;
    justify-content: center;
    text-align: center;
    margin: 0rem;
}

.slogan {
    color: #874000;
    font-family: 'roboto';
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 167.23%;
    text-align: center;
}

h2 {
    font-family: 'lora',serif;
    margin-top: 5%;
    font-size:4.6rem;
    padding: 1rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.description {
  margin-left:12%;
    margin-bottom:10%;
    margin-top: 2%;
    font-family: 'roboto',sans-serif;
    font-size:1.6rem;
    width:75%;
    

}


.container{
    background: #FEF8F7;

}

.container2{
    background: #FCFCFC;
    line-height: 3em;
}

.projectsfull{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;



}

.project1 {
    display: block;
    width:72rem;
    border-radius: 7px 0px 0px 7px;
}
.project2 {
    display: block;
    width:72rem;
    border-radius: 7px 0px 0px 7px;
}
 .footlinks a {  
    color: #373F51;
	text-decoration: none;
    letter-spacing: .5rem; 
    font-weight: bold;
    padding:2rem;
    }

.footlinks {
    margin: 2rem;
    font-family: "roboto mono",sans-serif;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    
    
}
footer {
    background: #FCFCFC;
    align-items: center;
    display: flex;
    font-family: "roboto mono",sans-serif;
    margin-left: auto;
    margin-right: auto;
   
    min-height: 8rem;
}
/* large desktop */
@media only screen and (max-width: 1444px){
  
    .descriptionabout {
        margin-left:12%;
          margin-bottom:10%;
          margin-top: 2%;
          font-family: 'roboto',sans-serif;
          font-size:1.6rem;
          width:65%;
          
      
      }
    
      .aboutpic{
        width:15%;
        padding-top: 20rem;
        display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 5rem;
    
    }
    
    .about {
        color: #874000;
        font-family: 'lora',serif;
        font-size:5.5rem;
        margin-top:30rem;
        justify-content: center;
        text-align: center;
        margin: 0rem;
    }

.header{
    height:30rem;
}


    .whitesection{
        height:150rem;
    }
    .orangesection{
        height:200rem;
    }
    .whitesection2{
        height: 98rem;
    }
    .orangesection2{
        height:105rem;
    }
    .orangesection3{
        height:110rem;
    }
    .whitesection3{
        height:137rem;
    }
    .whitesection4{
        height:120rem;
    }
    .whitesection5{
        height:120rem;
    }
    .orangesection4{
        height:110rem;
    }
    .orangesection5{
        height: 170rem;
    }
    .whitesection6{
        height:152rem;
    }
    .whitesection7{
        height:100rem;
    }
    .imgs{
        float:none;
    }

    .project1 {
        display: block;
        width:45rem;
        border-radius: 7px 0px 0px 7px;
    }
    .project2 {
        display: block;
        width:45rem;
        border-radius: 7px 0px 0px 7px;
    }
   
    .worksect {

        background:#FCFCFC;
        border-radius: .7rem;
        width: 65%;
        display:flex;
        margin-right:20rem;
        margin-left:20rem;
        margin-bottom: 15rem;
    }

  body{
      overflow-x: hidden;
  }

    
.header {
    height: 60rem;
    background: #FCFCFC;
    position: relative;
}

.h1 {
    color: #874000;
    font-family: 'lora',serif;
    font-size:8.6rem;
    padding-top:25rem;
    justify-content: center;
    text-align: center;
    margin: 0rem;
}

.slogan {
    color: #874000;
    font-family: 'roboto';
    font-size: 3.6rem;
    font-weight: lighter;
    line-height: 167.23%;
    text-align: center;
}
nav{
    top:0;
    display:flex;
	align-items: flex-start;
    justify-content: space-around;
    font-family: "roboto mono",sans-serif;
    min-height: 4vh;


   
}
.threepage{
    padding: 35px;
}
    .nav-links{
    display:flex;
    width:70%;
    justify-content: space-around;
    list-style: none;
    margin:3rem;
    margin-top: 3.5rem;
    }

.nav-links a{
	color: #373F51;
	text-decoration: none;
    font-size: 3.5rem;
    letter-spacing: .5rem; 
    font-weight: 900;
}
    
    .nav li{
        width:60%;
    }
    

    .burger{
        display:none;
    }
    .middletext{
        width:50%;
    }
    .middletextwhitesection{
        width:50%
    }
}
/* small desktop */
@media screen and (max-width: 1024px){
    .descriptionabout {
        margin-left:12%;
          margin-bottom:10%;
          margin-top: 2%;
          font-family: 'roboto',sans-serif;
          font-size:1.6rem;
          width:65%;
          
      
      }
    
      .aboutpic{
        width:17%;
        padding-top: 20rem;
        display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 5rem;
    
    }
    
    .about {
        color: #874000;
        font-family: 'lora',serif;
        font-size:5.5rem;
        margin-top:30rem;
        justify-content: center;
        text-align: center;
        margin: 0rem;
    }

    .imgs{
        float:none;
    }

    .project1 {
        display: block;
        width:37rem;
        border-radius: 7px 0px 0px 7px;
    }
    .project2 {
        display: block;
        width:37rem;
        border-radius: 7px 0px 0px 7px;}

    .worksect {

        background:#FCFCFC;
        border-radius: .7rem;
        width: 60%;
        display:flex;
        margin-right:20rem;
        margin-left:20rem;

    
    }

   body{
       overflow-x: hidden;
   }
    
.footlinks a {  
        color: #373F51;
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: .5rem; 
        font-weight: bold;
        }
    
.footlinks {
        margin: 0rem;
        font-family: "roboto mono",sans-serif;
        font-size: 1.5rem;
        display: flex;
        margin-left: auto;
    margin-right: auto;
        
        
    }
footer {
        background: #FCFCFC;
        align-items: center;
        display: flex;
        font-family: "roboto mono",sans-serif;
        justify-content: space-around;
        min-height: 8rem;
}

.h1 {
    color: #874000;
    font-family: 'lora',serif;
    font-size:3.9rem;
    padding-top:31rem;
    justify-content: center;
    text-align: center;
    margin:0rem;
}

.slogan {
    color: #874000;
    font-family: 'roboto';
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 167.23%;
    text-align: center;
}

h2 {
    font-family: 'lora',serif;
    font-size:2.6rem;
    padding: 1rem;
}

.description {
    margin: 12%;
    font-family: 'roboto',sans-serif;
    font-size:1.6rem;
}

    nav{
    top:0;
	align-items: center;
    justify-content: space-around;
    display: flex;
    font-family: "roboto mono",sans-serif;
    min-height: 6vh;
   
}

    .nav-links{
    display:flex;
    width:80%;
    justify-content: space-around;
    list-style: none;
    z-index: 1;
    right: 0rem;
    margin:2rem;

    }
    
    .nav-links a{
	color: #373F51;
	text-decoration: none;
    font-size: 3.5rem;
    letter-spacing: .5rem; 
    font-weight: bold;
}
    
    .nav li{
        width:60%;
    }
    

    .burger{
        display:none;
    }

    .whitesection{
        height:145rem;
    }
    .orangesection{
        height:175rem;
    }
    .whitesection2{
        height: 110rem;
    }
    .orangesection2{
        height:90rem;
    }
    .orangesection3{
        height:80rem;
    }
    .whitesection3{
        height:100rem;
    }
    .whitesection4{
        height:100rem;
    }
    .whitesection5{
        height:100rem;
    }
    .orangesection4{
        height:100rem;
    }
    .orangesection5{
        height: 135rem;
    }
    .whitesection6{
        height:130rem;
    }
    .whitesection7{
        height:100rem;
    }

    .middletext{
        width:60%;
    }
    .middletextwhitesection{
        width:60%;
    }
    .bullets{
        margin-left: 20%;
        margin-right: 20%;
    }

}

/* tablet version */
@media screen and (max-width: 768px) {
    .descriptionabout {
        margin-left:12%;
          margin-bottom:10%;
          margin-top: 2%;
          font-family: 'roboto',sans-serif;
          font-size:1.6rem;
          width:65%;
          
      
      }
    
      .aboutpic{
        width:20%;
        padding-top: 20rem;
        display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 5rem;
    
    }
    
    .about {
        color: #874000;
        font-family: 'lora',serif;
        font-size:5.5rem;
        margin-top:30rem;
        justify-content: center;
        text-align: center;
        margin: 0rem;
    }
    
    .threeimg{
        margin-left: 0rem;
    
    }
    .charttitle{
        padding:5%;
    }

    .whitesection{
        height: 150rem;
    }

    .orangesection{
        height:180rem;
    }
    .orangesection2{
        height:80rem;
    }

    .orangesection3{
        height:80rem;
    }

    
    .orangesection4{
        height:90rem;
    }
    .orangesection5{
        height:115rem;
    }

    
    .whitesection2{
        height: 115rem;
    }
    
    .whitesection3{
        height:80rem;
    }
    
    .whitesection4{
        height:95rem;
    }
    .whitesection5{
        height:95rem;
    }
    .whitesection6{
        height:110rem;
    }
    .whitesection7{
        height:110rem;
    }

    .bulletsca li{
        margin:1rem;
    }

    .topright{
        width:11rem;
    }
    .topright2{
        width:12rem;
    }
    .threepage{
        padding:0px;
        padding-left: 2%;
        padding-right: 3%;
    }
    
    .h1{
        padding-top:30rem;
    }
    .worksect {

        background:#FCFCFC;
        border-radius: .7rem;
        width: 60%;
        display:grid;
        margin-right:7rem;
        margin-left:7rem;
    }
        .project1{
            width: 100%;
            border-radius: 3px 3px 0px 0px;
        }
    
        .project2{
            width: 100%;
            border-radius: 3px 3px 0px 0px;
        }
    .buttonprojects{
        margin-bottom:4rem;
        width:50%;
    }
    .middletext{
        width:70%;
    }
    .middletextwhitesection{
        width:70%;
    }
    .circletime {

        position:absolute;
        width: 6rem;
        right: -3rem;
        top: 54rem;
       
        
    }

    .circletimeouter {

        position:absolute;
        width: 10rem;
        right: -4.7rem;
        top: 51.7rem;
       
        
    }
    
    .circletimeouter2 {
    
        position:absolute;
        width: 10rem;
        right: -4.7rem;
        top: 56rem;
       
        
    }
    
    .circletimeouter3 {
    
        position:absolute;
        width: 10rem;
        right: -4.7rem;
        top: 47rem;
        
        
    }

    
}

@media screen and (max-width: 600px) {
    .chartfull li {
      width: 100%;

    }

    .threepage{
        width: 90%;
        padding-left: 8%;
    }
  }

/* mobile version */
@media screen and (max-width: 480px) {
    .projectsfull2{
        height:28rem;
    }
    
    .descriptionabout {
        margin-left:12%;
          margin-bottom:10%;
          margin-top: 2%;
          font-family: 'roboto',sans-serif;
          font-size:1.6rem;
          width:65%;
          
      
      }
      .header2 {
        height: 118rem;
        background:#FCFCFC;
        position: relative;
    
    }
    
      .aboutpic{
        width:40%;
        padding-top: 20rem;
        display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 5rem;
    
    }
    
    .about {
        color: #874000;
        font-family: 'lora',serif;
        font-size:5.5rem;
        margin-top:30rem;
        justify-content: center;
        text-align: center;
        margin: 0rem;
    }
   
    .whitesection{
        height:145rem;
    }
    .orangesection{
        height:345rem;
    }
    .whitesection2{
        height: 185rem;
    }
    .orangesection2{
        height:135rem;
    }
    .orangesection3{
        height:65rem;
    }
    .whitesection3{
        height:55rem;
    }
    .whitesection4{
        height:180rem;
    }
    .whitesection5{
        height:140rem;
    }
    .orangesection4{
        height:160rem;
    }
    .orangesection5{
        height: 240rem;
    }
    .whitesection6{
        height:160rem;
    }
    .whitesection7{
        height:120rem;
    }
   
   .personas{
       width:100%;
   }
   .imgs{
       width:67%;
   }
   
   
    .chartfull{
        display:block;
       
    }

    .textwrappercenter{
        margin-left:10%;
        margin-right:10%;
        color: #FCFCFC;
        font-size: 2rem;
        font-family:"roboto";
        padding-bottom:5rem;
    }

    .titletopmain
    {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    .bullets {
        margin-bottom: 5rem;
        font-size: 2rem;
        font-family: "roboto";
        margin-left: 10%;
        margin-right: 10%;
        align-content: center;
    
    }

    .topright{
        width:11rem;
    }
    .topright2{
        width:12rem;
    }
    
    .chartfull{
        column-count: 1;
    }

    .project img {
        border-radius: 3px 3px 0px 0px;
        width:100%;
    }

    .project1{
        width: 100%;
        border-radius: 3px 3px 0px 0px;
    }

    .project2{
        width: 100%;
        border-radius: 3px 3px 0px 0px;
    }
    .circletime {

        position:absolute;
        width: 4.5rem;
        right: -3rem;
        top: 53.75rem;
       
        
    }

    .circletimeouter {

        position:absolute;
        width: 8rem;
        right: -4.7rem;
        top: 51.7rem;
       
        
    }
    
    .circletimeouter2 {
    
        position:absolute;
        width: 8rem;
        right: -4.7rem;
        top: 56rem;
       
        
    }
    
    .circletimeouter3 {
    
        position:absolute;
        width: 8rem;
        right: -4.7rem;
        top: 47rem;
        
        
    }


    .bluephone{
        position: absolute;
        width: 55.8rem;
        left: -40rem;
        top: 29.6rem;
        z-index: 94;
        
    }
    
    
    .bluephone2{
        position: absolute;
        width: 50rem;
        left: -42rem;
        top: 29.9rem;
        z-index:94 ;
        
    }

    .bluephone3{
        position: absolute;
        width: 57.8rem;
        left: -40rem;
        top: 2.4rem;
        z-index: 94;
        
    }
    
    
    .bluephone4{
        position: absolute;
        width: 50rem;
        left: -42rem;
        top: 1.9rem;
        z-index:94 ;
        
    }
    .worksect {

        background:#FCFCFC;
        border-radius: .7rem;
        width: 60%;
        display:grid;
        margin-right:7rem;
        margin-left:7rem;

    
    }
    
    body{ 
        overflow-x: hidden;  
    }

   .h1 {
        color: #874000;
        font-family: 'lora',serif;
        font-size:3.6rem;
        padding-top:18rem;
        justify-content: center;
        text-align: center;
        margin: 0rem;
}

    .slogan {
        color: #874000;
        font-family: 'roboto';
        font-size: 1.6rem;
        font-weight: lighter;
        line-height: 167.23%;
        text-align: center;
}

    h2 {
        font-family: 'lora',serif;
        font-size:2.2rem;
        padding: 1rem;
        display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.buttonprojects {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    color: #FCFCFC;
    background-color: #373F51;
    border: none;
    margin-bottom:3.5rem;
}
    .description {
        font-family:"roboto",sans-serif;
        font-size:1.6rem;
        width:80%;
}
  
    footer{
        background: #FCFCFC;
        display: flex;
        font-family: "roboto mono",sans-serif;
        justify-content: space-around;
        min-height: 9rem;
        text-align: center;
        

   
}
     
   .footlinks {
       display:flex;
       flex-wrap: wrap;
        margin:-10px;
        width:90%;
        list-style: none;
    
}

    .footlinks>* {
    flex: .5 .5 2rem;
    margin: 1rem;
  }
    .footlinks a {  
        margin: 0rem;
        color: #373F51;
	    text-decoration: none;
        font-size: 1rem;
        letter-spacing: .5rem; 
        font-weight: bold;
        padding:0rem;
    
    
    }
    
    .nav-links a{
        color: white;
        text-decoration: none;
        font-family: "roboto",sans-serif;
        font-size: 2.5rem;
        left: 0;
        margin: 2rem;
    }
   
    .nav-links{
        position: fixed;
        height:80vh;
        top:10vh;
        background-color: #373F51;
        list-style: none;
        padding: 6rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:30rem;
        border-radius: 0 10px 10px 0;
        transform: translateX(-105%);
        transition: transform 0.5s ease-in;
        z-index: 1;
        left: -4rem;
    }

 
  
    h3{
        line-height: 4.5rem;
    }
    canvas{
        margin-top: 2rem;
    }
    



    nav{
        min-height: 8rem;
    }

    .nav-links li{
        opacity:0%;
    }   
    
    .burger {
        display:block;
        z-index: 1;
    }
    
    .nav-active{
    transform: translateX(0%);
    left: -5rem;
    }
    .middletext{
        width: 80%;
    }
    .middletextwhitesection{
        width: 80%;
    }
}


/* mobile version */
@media screen and (max-width: 375px) {


    .whitesection{
        height:165rem;
    }
    .orangesection{
        height:333rem;
    }
    .whitesection2{
        height: 231rem;
    }
    .orangesection2{
        height:116rem;
    }
    .orangesection3{
        height:71rem;
    }
    .whitesection3{
        height:48rem;
    }
    .whitesection4{
        height:136rem;
    }
    .whitesection5{
        height:133rem;
    }
    .orangesection4{
        height:150rem;
    }
    .orangesection5{
        height: 210rem;
    }
    .whitesection6{
        height:150rem;
    }
    .whitesection7{
        height:133rem;
    }


.imgs{
    width:65%;
    margin-top: 5%;
}
.middletext{
    width: 90%;
}
.middletextwhitesection{
    width: 90%;
}

}
    
    @keyframes navLinkFade{
        from{
            opacity:0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: translateY(10.3px) translateX(2px) rotate(45deg);
    }
    .toggle .line2 {
        opacity:0;
    }
    .toggle .line3 {
        transform: translateY(-6px) translateX(2px) rotate(-45deg);
    }


