* {
    box-sizing:border-box;
    
}
html {
    font-size: 10px;
    position: relative;
    overflow-x: hidden;

}

.personas{
    font-size: 2rem;
    width: 49.5%;
    margin-left: 4%;
    float: left;
    padding:10px;
    color: #FCFCFC;
    font-family: "roboto",sans-serif;


}
.ptitle{
    font-weight: bold;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}

.personas:after {
    content: "";
    display: table;
    clear: both;
  }

.bulletsca{
    margin-bottom: 2em;
}

.bulletsca li{
    margin:2rem;
}
.threepage{
    font-size: 2rem;
    float: left;
    width: 33.3%;
    padding:1px;
    position: relative;
    align-items:center;
    justify-content: space-around;
    font-family: "roboto",sans-serif;
}
.threepage:after {
    content: "";
    display: table;
    clear: both;
  }

canvas{
    margin-bottom:3rem;
}
.charttitle{
    font-size: 2.2rem;
    font-family: "roboto",sans-serif;
    color: #FCFCFC;
    margin-top: 8rem;
    margin-bottom: 1em;
    justify-content: center;
    display:flex;
    flex-direction: column;
    float: left;
    width: 33.3%;
    margin:0rem;
    padding:12px;
    align-items: center;
    

}
@media screen and (max-width: 600px) {
    .chartfull li {
      width: 100%;

    }

    .threepage{
        width: 100%;
    }
  }

.topsection{
    height: 30vh;
    width: 100%;
}
.whitesection{
    height:80vh;
    background:#fcfcfc;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.whitesection2{
    height:60vh;
    background:#fcfcfc;

}
.imgs{

    width:20%;
    height: auto;
    margin:2rem;
   align-items: center;
   justify-content: center;
   margin-right: 20rem;
    

}

.bullets{
    margin-bottom: 5rem;
}

.bullets li {
    margin:2rem;
}

.titletop{
    margin-bottom:5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titletoporange{
    margin-bottom:5rem;
    color: #FCFCFC;
}
.orangetext {
    color: #FCFCFC;
}

h3{
    font-size: 4.8rem;
}

.imgp{
    width: 90%;
}

.orangesection2{
    height:100vh;
    background:#F7996A;
    display:flex;

    flex-direction: column;
}

.orangesection{
    height:100vh;
    background:#F7996A;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{ 
    max-height: 70%;
    margin-bottom: 20rem;
    
}
.buttonprojects:hover {
    background: #555B6B;
}

.project1header{
    max-width: 100%;
    height: auto;
}

.buttonprojects {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-left: auto;
    margin-right:auto;
    height: 5rem;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    color: #FCFCFC;
    background-color: #373F51;
    border: none;
}
.button:hover{
    background: #555B6B;
}
.button {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    margin-left: auto;
    margin-right:auto;
    height: 5rem;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    color: #FCFCFC;
    background-color: #373F51;
    border: none;
}
body{

    overflow-x: hidden;
}
header {
    height: 30rem;
    background:#FCFCFC;
    position: relative;

}
.nav-links a{
	color: #373F51;
	text-decoration: none;
    font-size: 3.5rem;
    letter-spacing: .5rem; 
    font-weight: 900;
    align-items: center;
    justify-content: space-around;
    display:flex;
}

.logobottom {
    display:flex;
    align-items: center;
    justify-content: space-around;
    display:none;
    z-index: 1;  

}

.logotop{
    position: absolute;
    top:3.5rem;
    left:5rem;
    display:none;
    justify-content: space-around;

}
.nav-links{
    display:flex;
    justify-content: space-around;
    list-style: none;
    align-items:center ;
    margin-bottom: 5rem;
    margin-top: 5rem;
    
}

nav{
    top:0;
    align-items: center;
    justify-content: space-around;
    background-color: #FCFCFC;
    width:100%;
    position: fixed;
    font-family: "roboto mono",sans-serif;
    z-index: 95;
    transition: top 0.3s;
    
}

.burger{
    display:none;
    cursor: pointer;
    padding-top: 0px;
    position: fixed;
    margin: 3rem;
    left: 0;
    top: 0;
}

.burger div{
    height: 3px;
	width: 25px;
	background-color:#373F51;
    border-radius: .5rem;
    margin:5px;
    transition: all 0.3s ease-in-out;
    top:0;
   
}

.bluephone{
    position: absolute;
    width: 55.8rem;
    left: -40rem;
    top: 14.6rem;
    z-index: 94;
    
}


.bluephone2{
    position: absolute;
    width: 50rem;
    left: -42rem;
    top: 14.9rem;
    z-index:94 ;
    
}

.circletime {

    position:absolute;
    width: 10rem;
    right: 2.3rem;
    top: 54rem;
   z-index: 96;
    
}

.circletimeouter {

    position:absolute;
    width: 18rem;
    right: -1.7rem;
    top: 50rem;
    z-index: 96;
   
    
}

.circletimeouter2 {

    position:absolute;
    width: 18rem;
    right: -1.7rem;
    top: 58rem;
    z-index: 96;
   
    
}

.circletimeouter3 {

    position:absolute;
    width: 18rem;
    right: -1.7rem;
    top: 42rem;
    z-index: 96;
    
}
.worksect {

    background:#FCFCFC;
    box-shadow:  21px 21px 42px #d6d6d6, 
             -21px -21px 42px #ffffff;
    border-radius: 1.5%;
    margin: 5rem;
    width: 50%;
    display:flex;
    align-items: center;
    cursor: pointer;


}

.topright {
    display:flex;
    position:absolute;
    width: 15.3rem;
    right: -7.3rem;
    top: -16rem;
    z-index: 99;
    
    
}

.topright2 {
    display:flex;
    position:absolute;
    width: 15.3rem;
    right: -2.3rem;
    top: -16rem;
    z-index: 98;
    
    
}

h1 {
    color: #874000;
    font-family: 'lora',serif;
    font-size:3.5rem;
    padding-top:11rem;
    justify-content: center;
    text-align: center;
    margin: 0rem;
}

.slogan {
    color: #874000;
    font-family: 'roboto';
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 167.23%;
    text-align: center;
}

h2 {
    font-family: 'lora',serif;
    font-size:2.6rem;
    padding: 1rem;
}

.description {
    margin: 2rem;
    font-family: 'roboto',sans-serif;
    font-size:1.6rem;
}

.container{
    background: #FEF8F7;

}

.container2{
    background: #FCFCFC;
}

.projectsfull{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;


}

.project1 {
    display: block;
    width:72rem;
    border-radius: 7px 0px 0px 7px;
}
.project2 {
    display: block;
    width:72rem;
    border-radius: 7px 0px 0px 7px;
}
 .footlinks a {  
    color: #373F51;
	text-decoration: none;
    letter-spacing: .5rem; 
    font-weight: bold;
    padding:2rem;
    }

.footlinks {
    margin: 2rem;
    font-family: "roboto mono",sans-serif;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:70%;
    
    
}
footer {
    background: #FCFCFC;
    align-items: center;
    display: flex;
    font-family: "roboto mono",sans-serif;
    justify-content: space-around;
    min-height: 8rem;
    box-shadow:  -26px -26px 52px #efefef, 
             26px 26px 52px #ffffff;
}
/* large desktop */
@media only screen and (max-width: 1444px){
   
    .project1 {
        display: block;
        width:45rem;
        border-radius: 7px 0px 0px 7px;
    }
    .project2 {
        display: block;
        width:45rem;
        border-radius: 7px 0px 0px 7px;
    }
   
    .worksect {

        background:#FCFCFC;
        border-radius: .7rem;
        width: 60%;
        display:flex;
        margin-right:20rem;
        margin-left:20rem;
    }

  body{
      overflow-x: hidden;
  }
   
.logobottom{

    display:none;
}

.logotop{
    position: absolute;
    top:2.5rem;
    left:4rem;
    display:none;
    justify-content: space-around;
    
}
    
header {
    height: 60rem;
    background: #FCFCFC;
    position: relative;
}

h1 {
    color: #874000;
    font-family: 'lora',serif;
    font-size:8.6rem;
    padding-top:25rem;
    justify-content: center;
    text-align: center;
    margin: 0rem;
}

.slogan {
    color: #874000;
    font-family: 'roboto';
    font-size: 3.6rem;
    font-weight: lighter;
    line-height: 167.23%;
    text-align: center;
}
nav{
    top:0;
    display:flex;
	align-items: flex-start;
    justify-content: space-around;
    font-family: "roboto mono",sans-serif;
    min-height: 6vh;


   
}
    .nav-links{
    display:flex;
    width:70%;
    justify-content: space-around;
    list-style: none;
    margin:3.5rem;
    }

.nav-links a{
	color: #373F51;
	text-decoration: none;
    font-size: 3.5rem;
    letter-spacing: .5rem; 
    font-weight: 900;
}
    
    .nav li{
        width:60%;
    }
    

    .burger{
        display:none;
    }
}
/* small desktop */
@media screen and (max-width: 1024px){

    .project1 {
        display: block;
        width:37rem;
        border-radius: 7px 0px 0px 7px;
    }
    .project2 {
        display: block;
        width:37rem;
        border-radius: 7px 0px 0px 7px;}

    .worksect {

        background:#FCFCFC;
        border-radius: .7rem;
        width: 60%;
        display:flex;
        margin-right:20rem;
        margin-left:20rem;

    
    }

   body{
       overflow-x: hidden;
   }
    
.footlinks a {  
        color: #373F51;
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: .5rem; 
        font-weight: bold;
        }
    
.footlinks {
        margin: 0rem;
        width:70%;
        font-family: "roboto mono",sans-serif;
        font-size: 1.5rem;
        display: flex;
        
        
    }
footer {
        background: #FCFCFC;
        align-items: center;
        display: flex;
        font-family: "roboto mono",sans-serif;
        justify-content: space-around;
        min-height: 8rem;
}

h1 {
    color: #874000;
    font-family: 'lora',serif;
    font-size:3.3rem;
    padding-top:11rem;
    justify-content: center;
    text-align: center;
    margin:0rem;
}

.slogan {
    color: #874000;
    font-family: 'roboto';
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 167.23%;
    text-align: center;
}

h2 {
    font-family: 'lora',serif;
    font-size:2.6rem;
    padding: 1rem;
}

.description {
    margin: 2rem;
    font-family: 'roboto',sans-serif;
    font-size:1.6rem;
}

.logotop{
    position: absolute;
    width:2.8rem;
    top:1.5rem;
    left:4rem;
    display:none;
    justify-content: space-around;
    


}
    nav{
    top:0;
	align-items: center;
    justify-content: space-around;
    display: flex;
    font-family: "roboto mono",sans-serif;
    min-height: 6vh;
   
}
    .nav-links{
    display:flex;
    width:80%;
    justify-content: space-around;
    list-style: none;
    z-index: 1;
    right: 0rem;
    margin:2rem;
    }
    
    .nav-links a{
	color: #373F51;
	text-decoration: none;
    font-size: 3.5rem;
    letter-spacing: .5rem; 
    font-weight: bold;
}
    
    .nav li{
        width:60%;
    }
    

    .burger{
        display:none;
    }
}

/* mobile version */
@media screen and (max-width: 768px) {
    
    .chartfull{
        column-count: 1;
    }

    .project img {
        border-radius: 3px 3px 0px 0px;
        width:100%;
    }

    .project1{
        width: 100%;
        border-radius: 3px 3px 0px 0px;
    }

    .project2{
        width: 100%;
        border-radius: 3px 3px 0px 0px;
    }
    .circletime {

        position:absolute;
        width: 6rem;
        right: -3rem;
        top: 54rem;
       
        
    }

    .circletimeouter {

        position:absolute;
        width: 10rem;
        right: -4.7rem;
        top: 51.7rem;
       
        
    }
    
    .circletimeouter2 {
    
        position:absolute;
        width: 10rem;
        right: -4.7rem;
        top: 56rem;
       
        
    }
    
    .circletimeouter3 {
    
        position:absolute;
        width: 10rem;
        right: -4.7rem;
        top: 47rem;
        
        
    }
    .worksect {

        background:#FCFCFC;
        border-radius: .7rem;
        width: 60%;
        display:grid;
        margin-right:7rem;
        margin-left:7rem;

    
    }
    
    
    .logotop{
        display:none;
    }
    
    
    .logobottom {
        display:flex;
        align-items: center;
        justify-content: space-around;
        z-index: 1;  
    
    }
    
    body{ 
        overflow-x: hidden;  
    }

    h1 {
        color: #874000;
        font-family: 'lora',serif;
        font-size:3.6rem;
        padding-top:11rem;
        justify-content: center;
        text-align: center;
        margin: 0rem;
}

    .slogan {
        color: #874000;
        font-family: 'roboto';
        font-size: 1.6rem;
        font-weight: lighter;
        line-height: 167.23%;
        text-align: center;
}

    h2 {
        font-family: 'lora',serif;
        font-size:2.6rem;
        padding: 1rem;
}

    .description {
        margin: 2rem;
        font-family: 'roboto',sans-serif;
        font-size:1.6rem;
}
  
    footer{
        background: #FCFCFC;
        display: flex;
        font-family: "roboto mono",sans-serif;
        justify-content: space-around;
        min-height: 9rem;
   
}
     
   .footlinks {
       display:inline-block;
        column-count: 2;
        width:75%;
        justify-content: space-around;
        list-style: none;
    
}
    .footlinks a {  
        margin: 2rem;
        color: #373F51;
	    text-decoration: none;
        font-size: 1rem;
        letter-spacing: .5rem; 
        font-weight: bold;
        padding:.5rem;
    
  
    
    }
    
    .nav-links a{
        color: white;
        text-decoration: none;
        font-family: "roboto",sans-serif;
        font-size: 2.5rem;
        left: 0;
        margin: 2rem;
    }
   
    .nav-links{
        position: fixed;
        height:80vh;
        top:10vh;
        background-color: #373F51;
        list-style: none;
        padding: 6rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:30rem;
        border-radius: 0 10px 10px 0;
        transform: translateX(-105%);
        transition: transform 0.5s ease-in;
        z-index: 1;
        left: -4rem;
    }



    nav{
        min-height: 8rem;
    }

    .nav-links li{
        opacity:0%;
    }   
    
    .burger {
        display:block;
        z-index: 1;
    }
    
    .nav-active{
    transform: translateX(0%);
    left: -5rem;
}
    
    @keyframes navLinkFade{
        from{
            opacity:0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: translateY(10.3px) translateX(2px) rotate(45deg);
    }
    .toggle .line2 {
        opacity:0;
    }
    .toggle .line3 {
        transform: translateY(-6px) translateX(2px) rotate(-45deg);
    }
}